<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">TrimURL</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" id="loginNav">
                    <button class="nav-link btn btn-link {{#if logged_in.status}}d-none{{/if}}" onclick="signInWithGoogle()">
                        <i class="bi bi-google me-2"></i>Sign in with Google
                    </button>
                </li>
                <li class="nav-item {{#if logged_in.status}}{{else}}d-none{{/if}}" id="logoutNav">
                    <a class="nav-link" href="/auth/sessionLogout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
    
</nav> 